._layout {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 20px 20px;
  background-color: rgb(245, 245, 245);
  border: #e2e2e2 solid 1px;
  border-radius: 16px;
  margin: 15px 15px 20px 0;
}